.main-page
  .slider-wrapper
    #ice-slider
      .ice-slider__text-wrapper
        h3.ice-slider__title(data-type="is__title") Range slider
        span.ice-slider__value(data-type="is__current-val") 15000
      .ice-slider__slider
        .ice-slider__point
        .ice-slider__point
        .ice-slider__range
        .ice-slider__line-bg
