.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slider-types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slider-wrapper {
  display: flex;
  margin-bottom: 50px;
  &_horizontal {
    width: 100%;
    max-width: 400px;
  }
  &_vertical {
    // width: 100%;
    max-width: 100px
  }
}