@import "../../styles/fonts.scss";

.ice-slider {
  display: flex;
  width: 100%;
  &_horizontal {
    flex-direction: column;
  }
  &_vertical {
    flex-direction: row;
    & > .ice-slider__text-wrapper {
      order: 1;
      margin-left: 20px;
    }
    & > .ice-slider__slider {
      order: 0;
    }
  }
  &__text-wrapper {
    display: flex;
    &_horizontal {
      flex-direction: row;
      justify-content: space-between;
    }
    &_vertical {
      flex-direction: column;
    }
  }
  &__title {
    @extend %font-h3;
    color: #1F2041;
  }
  &__value {
    @extend %font-body;
    line-height: 1.4rem;
    color: rgba(31, 32, 65, 0.5);
  }

  &__slider {
    display: flex;
    &_horizontal {
      margin-top: 20px;
      align-items: center;
    }
    &_vertical {
      justify-content: center;
    }
  }
  &__point {
    z-index: 30;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(135deg, #7d6fcf 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    cursor: pointer;
  }
  &__floating-value {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -2000px;
    padding: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(31, 32, 65, 0.25);
    opacity: 0;
    transition: opacity 0.3s;
    & > * {
      @extend %font-body;
      line-height: 1.4rem;
      color: rgba(31, 32, 65, 0.75);
    }
  }
  &__range {
    position: absolute;
    background: linear-gradient(135deg, #7d6fcf 0%, #66D2EA 100%);
  }
  &__line {
    width: 100%;
    background: #FFFFFF;
    border: 1.5px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
  }
}